<body class="background">
  <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <div class="list-all-users whole-page">
      <div class=class="users w3-container w3-card post-bgc w3-round-xlarge w3-margin">
        <h1>All Acebook Users</h1> 
          <ul style="background-color:white;"> 
            {{#each users}}
              <li class="each-user">{{this.name}}</li><button>Send friend request</button>
            {{/each}}
          </ul>
      </div>
    </div>
  </div>

  <div>
    <div class="search-form">
      <label for="friend-search">Find friends</label>
      <input id="friend-search" name="query">
      {{!-- <button>Find</button> --}}
    </div>
    <div class="search-result"><p id="search-result" style="background-color:white;"></p></div>
  </div>
  <br><br><br>

  {{users}}

  <script>
    console.log({{{users}}})

    const inputEl = document.querySelector('#friend-search');

    inputEl.addEventListener('input', (e) => {
      document.querySelector('#search-result').textContent = e.target.value;
    });
  </script>

</body>




