<body class="background">
  <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <div class="list-all-users whole-page">
      <div class=class="users w3-container w3-card post-bgc w3-round-xlarge w3-margin">
        <h1>All Acebook Users</h1> 
          <ul> 
            {{#each users}}
              <li class="each-user">{{this.name}}</li><button>Send friend request</button>
            {{/each}}
          </ul>
      </div>
    </div>
  </div>

  <div>
    <label for="friend-search">Find friends</label>
    <input type="search" id="site-search" name="query">
    <button>Find</button>
  </div>
</body>



